{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Travel Cave</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'blog:home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog:view_user' user.username %}">My
                        Profile</a></li>
                    <li><a href="{% url 'blog:create_post' %}">Create Post</a>
                    </li>
                    <li><a href="{% url 'blog:my_posts' %}">My Posts</a>
                    </li>
                    <li><a href="{% url 'blog:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'blog:login' %}">Login</a></li>
                    <li><a href="{% url 'blog:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'blog:home' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="#">My Profile</a></li>
            <li><a href="{% url 'blog:create_post' %}">Create Post</a>
            </li>
            <li><a href="{% url 'blog:my_posts' %}">My Posts</a>
            </li>
            <li><a href="{% url 'blog:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'blog:login' %}">Login</a></li>
            <li><a href="{% url 'blog:register' %}">Register</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block footer %}
    <div class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Travel Cave
                <a class="grey-text text-lighten-4 right"
                   href="{% url 'blog:home' %}">Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}