{% extends 'base_nav.html' %}
{% load static %}
{% load materializecss %}
{% block title %}
    Create Post
{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="card-panel">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <div class="center-align">
                            <div>
                                <button class="btn waves-effect waves-light"
                                        formaction="{% url 'blog:create_post' %}"
                                        type="submit">Save Draft
                                    <i class="material-icons right">save</i>
                                </button>
                                <button class="btn waves-effect waves-light"
                                        formaction="{% url 'blog:publish_new_post' %}"
                                        type="submit">Publish Post
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}