{% extends 'base_nav.html' %}
{% block nav %}
    <nav class="nav-extended">
        <div class="nav-wrapper pl-1">
            <a href="#" class="brand-logo">Travel Cave</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'blog:home' %}">Home</a></li>
                <li><a href="{% url 'blog:explore' %}?query=">Explore</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog:view_user' user.username %}">My
                        Profile</a></li>
                    <li><a href="{% url 'blog:create_post' %}">Create Post</a>
                    </li>
                    <li><a href="{% url 'blog:my_posts' %}">My Posts</a>
                    </li>
                    <li><a href="{% url 'blog:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'blog:login' %}">Login</a></li>
                    <li><a href="{% url 'blog:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="nav-content">
            <div class="pb-0 pt-4">
                {% block intro %}
                    <nav>
                        <div class="nav-wrapper pl-1">
                            <div class="col s12">
                                {% block breadcrumbs %}
                                    <a href="{% url 'blog:home' %}"
                                       class="breadcrumb">Home</a>
                                {% endblock %}
                            </div>
                        </div>
                    </nav>
                {% endblock %}
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'blog:home' %}">Home</a></li>
        <li><a href="{% url 'blog:explore' %}?query=">Explore</a></li>
        {% if user.is_authenticated %}
            <li><a href="#">My Profile</a></li>
            <li><a href="{% url 'blog:create_post' %}">Create Post</a>
            </li>
            <li><a href="{% url 'blog:my_posts' %}">My Posts</a>
            </li>
            <li><a href="{% url 'blog:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'blog:login' %}">Login</a></li>
            <li><a href="{% url 'blog:register' %}">Register</a></li>
        {% endif %}
    </ul>
{% endblock %}